/* Variaveis de Cores*/
:root, :root[data-theme='dark'] {
   --primary-color:  #f0f0f0; /*cor principal texto*/
   --primary-bg-color: #171511; /*cor principal fundo*/
   /*bg = background == cor de Fundo*/
   --secondary-bg-color: #28292E;
   --primary-boder-color: #56575A;
   --secondary-border-color: #56575A;
   --title-color: #f0f0f0;
   --text-color:#8f8f8f;

   --link-color: #8f8f8f;
   --link-hover: #f0f0f0;
   --icon-color: #C7C8C9;



}
/* TEMA LIGHT*/
;:root[data-theme='light']{
   --primary-bg-color:#0D0C09; /* cor principal textos*/

   --primary-bg-color: #f0f2f5; 
   --secondary-bg-color: #c7c8c9;

   --primary-boder-color: #c7c8c9;
   --secondary-border-color: #9a9a9c;

   --title-color: #0B0B0F;
   --text-color:#a3a2a2;
   --link-color: #0b0b0f;
   --icon-color: #56575a; 
}
/* Reset CSS */
* {
   margin: 0; /*margem*/
   padding: 0; /*preenchimento*/
   box-sizing: border-box;
   vertical-align: baseline;
   list-style: none;
   scrollbar-width: thin; 
   scrollbar-color: var(--secondary-bg-color) transparent;
}

body {
    background: var(--primary-bg-color);/*cor fundo*/
    color:var(--primary-color);/*cor geral dos textos*/
    font-family: 'Playwritr', Tahoma, Geneva, Verdana, sans-serif;
}

a {
   text-decoration: none;
   color: var(--link-color);
}
a:hover {
   color: var(--link-hover);
}

i {
   color: var(--icon-color);
}

.header {
   display: flex;
   flex-flow: row wrap;
   /* Coloca o conteúdo em linha e permite a quebra de linha */
   justify-content: space-between;
   /* Os itens dentro do container flexível serão distribuídos de maneira uniforme ao londo do eixo principal, comespaços iguais entre eles. */
   align-items: center;
   width: 100%;
   padding: 0.5rem 1rem;
   z-index: 2; /* sobreposição*/
}

.header-logo .logo{
   width: 3.25rem;
   height: 3.25rem;

}

