/* Variaveis de Cores*/
:root, :root[data-theme='dark'] {
   --primary-color:  #858585; /*cor principal texto*/
   --primary-bg-color: #171511; /*cor principal fundo*/
   /*bg = background == cor de Fundo*/
   --secondary-bg-color: #28292E;
   --primary-boder-color: #56575A;
   --secondary-border-color: #56575A;
   --title-color: #f0f0f0;
   --text-color:#8f8f8f;

   --link-color: #8f8f8f;
   --link-hover: #f0f0f0;
   --icon-color: #C7C8C9;

}
/* TEMA LIGHT*/
:root[data-theme='light']{
   --primary-bg-color:#0D0C09; /* cor principal textos*/

   --primary-bg-color: #f0f2f0f5; 
   --secondary-bg-color: #C8C7C9;

   --primary-boder-color: #C7C8C9;
   --secondary-border-color: #9A9A9C;

   --title-color: #0B0B0F;
   --text-color:#A3A2A2;
   --link-color: #0b0b0f;
   --icon-color: #56575a; 
}
/* Reset CSS */
* {
   margin: 0; /*margem*/
   padding: 0; /*preenchimento*/
   box-sizing: border-box;
   vertical-align: baseline;
   list-style: none;
   scrollbar-width: thin; 
   scrollbar-color: var(--secondary-bg-color) transparent;
}

body {
    background: var(--primary-bg-color);/*cor fundo*/
    color:var(--primary-color);/*cor geral dos textos*/
    font-family: 'Playwritr', Tahoma, Geneva, Verdana, sans-serif;
}

a {
   text-decoration: none;
   color: var(--link-color);
}
a:hover {
   color: var(--link-hover);
}

i {
   color: var(--icon-color);
}

.header {
   display: flex;
   flex-flow: row wrap;
   /* Coloca o conteúdo em linha e permite a quebra de linha */
   justify-content: space-between;
   /* Os itens dentro do container flexível serão distribuídos de maneira uniforme ao londo do eixo principal, comespaços iguais entre eles. */
   align-items: center;
   width: 100%;
   padding: 0.5rem 1rem;
   z-index: 2; /* sobreposição*/
}

.header-logo .logo{
   width: 3.25rem;
   height: 3.25rem;
}

.header-logo .logo2 {
   width: 15rem;
   height: 2rem;
   margin-left: 10px;
   position: relative;
   bottom: 5px;
}

html[data-theme='light'] .logo {
   filter: invert(1);
}

html[data-theme='light'] .logo2 {
   filter: invert(1);
}

#toggleTheme {
   font-size: 1.5rem; 
   color: var(--icon-color);
   cursor: pointer;
   transition: ease-in-out .4s;
}

.menu {
   display: flex;
   /* Torna o Elemento um Flex contanier automaticamente transformando todos os filhos direitos em Flex Itens*/
   align-items: center;
   background: var(--primary-bg-color);
   gap: 1rem;
}

.menu-link {
   display: flex;
   align-items: center;
   gap: .5rem;
}

.menu-mobile { /* UL */
   width: 100%; 
   position: fixed;
   bottom: 0;
   justify-content: space-between;
   border-top: 1px solid var(--primary-boder-color);
}

.menu-mobile .menu-link {
   flex-direction: column;
   justify-content: center;
   padding: 0.5rem 1rem;
}

.menu-link.active .menu-icon,
.menu-link.active .menu-text, 
.menu-link:hover .menu-icon,
.menu-link:hover .menu-text {
   color: var(--link-hover);
}

.menu-icon, .menu-text {
   color: var(--link-color);
   font-weight: 600;
}

.menu-icon {
   font-size: 1.5rem;
}

.menu-text {
   font-size: .75rem;
   text-transform: uppercase;
}

.header-nav {
   display: none;
}

.menu-principal {
   gap: 1rem;
}

.menu-social {
   gap: 1rem;
}

.btn {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 0.62rem;
   width: 100%;
   background: transparent;
   border-radius: 3rem;
   color: var(--primary-color);
   border: none;
   cursor: pointer;
   padding: 0.5rem 1.5rem;
   transition: ease-in-out .3s;
}

.btn-primary {
   border: 1px solid var(--secondary-border-color);
}

.btn:hover {
   transform: scale(1.07);
   transition: ease-in-out 0.5s;
}

.btn span, 
.btn i {
   font-size: 1.25rem;
   text-transform: uppercase;
}

.btn-primary span {
   color: var(--primary-color);
}

#home {
   display: flex;
   flex-direction: column;
   gap: 2rem;
}

.main-content {
   display: flex;
   flex-direction: column;
   gap: 1.5rem;
}

.video iframe{
   width: 100%;
   aspect-ratio: 16/9;
}

#home, .projetos, .sobre, .contato {
   padding: 3.5rem 5rem;
}




/*---------------------*/

/* CSS Responsivo*/
@media (min-width: 768px) {
   .header {
      position: fixed;
      border-bottom: 1px solid var(--primary-boder-color);
      padding: 1rem 6rem;
   }
   .nav-mobile {
      display: none;
   }
   .header-nav {
      display: flex;
   }
}
